.container {
    font-family: 'Varela Round', sans-serif;

}

h1, p, h2{
    color: white;
    text-align: center;
    direction: rtl;
}

form{
    direction: rtl;
}

.textinputclass{
    direction: rtl;
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: -moz-center;
}

.form-check-label{
    direction: rtl;

}

.thank-you{

    direction: rtl;
    font-size: 1.5em;

}
/*@media screen and (min-width: 1200px) {*/
/*  .thank-you {*/
/*     font-size: 30px;*/
/*  }*/
/*}*/




.thank-you-image{
    border-radius: 8px;
    /*width: 650px;*/
    /*height:  500px;*/
    opacity: 0.7;
    position: relative;
    /*margin: auto;*/
    width: 70%;
    height: auto;
    max-height:500px ;
    max-width:650px ;

}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-h1{
    font-size: 6vw;
    font-weight: bold;
    /*font-size:2.5em;*/
    /*text-shadow: -1px 0 #606060, 0 1px #606060, 1px 0 #606060, 0 -1px #606060;*/
    max-font-size: 100%;
}
@media screen and (min-width: 1200px) {
  .big-h1 {
     font-size: 60px;
  }
}

.img{
    /*width:70%;*/
    max-width:70%;
    /*height: 70%;*/
    max-height: 70%;
    /*position: center;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto;
}



.box{
        position: relative;
        display: inline-block; /* Make the width of box same as image */
    }
    .box .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 60%; /* Set the width of the positioned div */
    }