.input{
    margin: 10px 0;
    box-sizing: border-box;
    border: #ACC0D1;
    border-bottom: 2px;
    border-radius: 30px;
    overflow: visible;
}

.input:hover {
box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  /*margin: 5px 1px 3px 0px;*/
  border: 1px solid rgba(81, 203, 238, 1);}