<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
</head>
<head>
    <!-- Main consist-all table-->
    <table valign="middle" align="center" >
        <!-- First the picture - must be faded to white at the botttom -->
        <tr>
            <td cellpadding="0" cellspacing="0">
                <a href="#">
                <img align="middle" style="display: block" src="http://up419.siz.co.il/up1/dnxinzmvjk5t.jpg" border="0" alt="picture">
                </a>
            </td>
        </tr>
    </table>
    <table valign="middle" align="center" cellpadding="0" cellspacing="0">
         <!-- Logo -->
        <tr>
            <td cellpadding="0" cellspacing="0" valign="middle" align="center" style="font-size: 24px;"><b>ספיר ברנס - יוגה לגוף שמח</b></td>
        </tr>
         <!-- Social -->
        <tr>
            <td align="center" cellpadding="0" cellspacing="0">
                <table>
                    <tr>
                        <!-- Facebook -->
                        <td align="center" width="35">
                            <a href="https://www.facebook.com/{facebook}">
                                <img src="https://www.psd2newsletters.com/templates/minilam/img/facebook-bl.png" width="16" alt="facebook" style="display: block">
                            </a>
                        </td>
                        <!-- Instagram -->
                        <td align="center" width="35">
                            <a href="https://www.instagram.com/{instagram}">
                                <img src="https://www.psd2newsletters.com/templates/minilam/img/instagram-bl.png" width="16" alt="instagram" style="display: block">
                            </a>
                        </td>
                        <!-- Youtube -->
                        <td align="center" width="35">
                            <a href="https://www.youtube.com/channel/{youtube_ch}">
                                <img src="https://www.psd2newsletters.com/templates/minilam/img/youtube-bl.png" width="16" alt="youtube" style="display: block">
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</head>
</html>