{% extends "landing_page/base.html" %}
{% load static %}
{% block body_block %}

    <div class="slider-item">
      <div class="overlay"></div>
      <style>
        .container {
          position: relative;
          text-align: center;
          color: white;
        }
           </style>
    <div class="container">
        <br>
        <br>
        <br>
    <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="15arofO27do" allowfullscreen></iframe>
</div>
    </div>
    </div>



{% endblock %}